[2013-10-21 21:07] bbaia opened #1 "Add NgWebElement.Evaluate method"
Evaluate an Angular expression on the scope of the current `IWebElement`.

[2013-10-21 21:12] #1 closed, assigned to bbaia

[2013-10-21 21:16] bbaia opened #2 "Add .NET 3.5 support"
Selenium WebDriver supports .NET 3.5

[2013-10-21 22:12] #2 closed, assigned to bbaia

[2013-10-27 20:32] bbaia opened #3 "NgWebDriver.Url does not work with IE (IEDriverServer.exe)"
NgWebDriver.Url always returns the URL used to navigate to the Angular app.
IE Driver bug ?

[2013-10-27 20:50] #3 closed, assigned to bbaia

[2014-05-15 08:37] krapstuke opened #4 "Can not take screenshots"
System.InvalidCastException : Unable to cast object of type 'Protractor.NgWebDriver' to type 'OpenQA.Selenium.ITakesScreenshot'.

[2014-09-03 05:02] mvpspl619 opened #5 "Doesn't support PageFactory type element locating"
The current implementation of locators inside the static class `NgBy` doesn't support the `PageFactory` model. To support this, the methods inside `NgBy` class must be replicated in separate classes that extend the type `By`.

PageFactory model would look something like this.

`[FindsBy(How = How.Custom, Using = "username", CustomFinderType = typeof(NgBinding)]`
`public IWebElement UsernameElement

[2014-09-22 15:39] cindoum opened #6 "Need some doc and/or some instruction/how to"
It is really difficult to start using protractor-net. Doc is inexistant, readme example is cannot be used as is ([Test]... where does that come from...).

[2014-09-29 19:41] #6 closed, assigned to nobody

[2014-09-29 20:21] #4 closed, assigned to nobody

[2014-11-16 17:44] Meir017 opened #9 "Using Actions class"
The NgWebDriver class doesn't implement the Interface IWrapsDriver and the NgWebElement class doesn't implement IWrapsElement.
Therefore when trying to use the Actions class with the NgWebDriver an ArgumentException is thrown.

[2014-12-03 22:55] #9 closed, assigned to nobody

[2015-01-08 02:30] jezzsantos opened #13 "WebDriverWait Support?"
I want to wait for certain HTML elements on my page to become enabled, before we can click them.
They are disabled until certain ajax requests complete, and then they are ready to be clicked.

According to WebDriver there might be a way to do this with WebDriverWait. http://assertselenium.com/2013/01/29/webdriver-wait-commands/

Will you support WebDriverWait?
Or is there another way apart from Th

[2015-01-29 22:52] SSQE opened #15 "Reporter needed for Protractor for .NET"
I'm using Protractor for .NET. Is there any reporter for it? There is a Protractor add-on "Protractor Html Screenshot Reporter". It works on Jasmine framework. Is there a way I can make it work in my protractor-net C# tests? Or is there any reporter available for "Protractor for .NET" that can be used to take screenshot of failed tests and generate HTML report with all test result similar to the w

[2015-01-31 03:21] safrrhmn opened #16 "When running the test on IE only able to run the test once"
This is pretty similar to http://stackoverflow.com/questions/21382962/when-running-protractor-with-phantomjs-browser-only-able-to-run-tests-once. Only one of my tests run on IE and after that all breaks. This issue is not reproducible on Firefox or Chrome

See here for detail.
http://stackoverflow.com/questions/28245166/protractor-and-ie11-navigation-issue

[2015-01-31 03:26] safrrhmn commented on #16
Accidentally closed

[2015-03-13 20:30] disophisis opened #18 "Is there any way to get elements by model only?"
One request would be to add an NgBy that will find elements by model.  Currently there are several options for finding elements by model but it appears that they are all html tag specific such as Inputs and Selects.

Are there any plans to add something like this?

If not, perhaps we could pull request in something generic like finding div tags by model and that could potentially cover a lot more

[2015-03-13 22:32] disophisis commented on #18
This request should be fulfilled by commit 0a9251e

[2015-03-16 01:05] #18 closed

[2015-03-16 14:47] safrrhmn commented on #16
@bbaia Have you considered looking at this?

[2015-03-17 22:43] bbaia commented on #16
Yes, I'm working on it but I can't even run one test on IE after updating to version 11.
Investigating...

[2015-03-17 22:48] safrrhmn commented on #16
Thanks for your time. I was actually able to run some tests on IE11

[2015-03-17 22:50] bbaia commented on #16
Which NuGet package for IE driver are you using ?

[2015-03-17 22:55] safrrhmn commented on #16
https://github.com/SeriousM/WebDriver.IEDriverServer-nuget

And, Just heads up there is a known issue with windows update for IE11. I did not take that update. See https://connect.microsoft.com/IE/feedback/details/1062093/installation-of-kb3025390-breaks-out-of-process-javascript-execution-in-ie11

[2015-04-04 10:13] patro1985 opened #20 "NgBy class don't have 'Model' attribute to find elements"
I tried to identify elements with ng-model attribute,
it throws error: 'protractor.NgBy' does not contain a definition for 'Model', please help!
[attached screenshot] - Visual studio 2012 express edition
![untitled](https://cloud.githubusercontent.com/assets/8268506/6992257/3de6c6a4-dae1-11e4-969e-83e6765591d8.png)

[2015-04-04 13:31] safrrhmn commented on #20
You need to pass the rootElement of the page which is most of the time ng-app attribute as a second argument while instantiating the NgWebDriver

[2015-04-04 14:45] safrrhmn commented on #20
@bbaia  I see the changes on source files but last merge never made into NuGet package

[2015-04-04 17:35] bbaia commented on #20
Yeah, I forgot to update the package after merging  #19...
Now it's done, I just pushed new version (0.5.0) of `Protractor` NuGet package

[2015-04-04 17:35] #20 closed

[2015-04-04 19:34] patro1985 commented on #20
Can you please provide a sample code of passing the argument as you
mentioned, reason is I am quite new to this protractor for net, Thank you

On Saturday, April 4, 2015, Saifur <notifications@github.com> wrote:

--
THANKS&REGARDS
SUNIL PATRO
7893903025

[2015-04-04 19:49] Meir017 opened #21 "Refreshing error"
When refreshing it the driver doesn't wait for angular and therefore it can cause error when clicking on save buttons etc...
The function refresh should call the WaitForAngular method before refreshing
[code]

[2015-04-04 23:00] safrrhmn commented on #20
@patro1985 I misunderstood your question. @bbaia Now the NuGet package is updated pull the new version

[2015-04-04 23:03] safrrhmn commented on #20
@bbaia Thank you sir! Appreciate your hard work

[2015-04-06 11:19] patro1985 commented on #20
Getting following error with the new version of protractor(0.5.0), (Just trying to launch the browser with ngwebdriver) -

![image](https://cloud.githubusercontent.com/assets/8268506/7003714/d3858532-dc7c-11e4-898f-6d6e59bb2f40.png)

![image](https://cloud.githubusercontent.com/assets/8268506/7003706/a9f1caa0-dc7c-11e4-8f9c-563550d33915.png)

[2015-05-12 17:21] JeroMiya opened #23 "Multi-capabilities or multi-driver support"
I'm a bit new to the C# selenium webdriver, so let me know if this is covered elsewhere that I'm not aware of.

Currently, it's currently a bit difficult to run e2e tests against multiple browsers, even when you're wrapping a RemoteWebDriver that points to a selenium grid which supports multiple browsers. Current solutions I'm aware of involve using app.config or environment variables/etc... to ru

[2015-05-12 23:40] safrrhmn commented on #23
@JeroMiya  I believe this multi-browser concepts is handled by the test framework not this port. This can be implemented with NUnit, which is probaly the case here, which handles parametrized test and executing them. NUnit is pretty strong enough to handle the execution sequentially(if you want parallel testing, that can be done with Selenium Grid as you have mentioned). You may find [this](http:/

[2015-06-01 13:44] JP-3 opened #24 "Getting a Pull request merged with Parent Branch"
I’ve never done a pull request before so I’m wondering if I did something wrong or if there is another reason why my request isn’t being merged into the parent branch of code?  I see a lot of NgBy methods have been rendered obsolete by the Model method, the problem I have is some elements that don’t have that tag available such as button and label. So I added them and was hoping to get them into t

[2015-06-24 16:15] disophisis opened #26 "NgBy.Repeater can't find ng-repeat-start elements"
The NgBy.Repeater locator needs to be tweaked to be able to find ng-repeat-start elements.  This is a new-ish angular attribute and I've seen it used several places.

[2015-07-13 14:38] safrrhmn commented on #15
+1 for this

[2015-07-14 12:57] #16 closed

[2015-07-14 13:31] #26 closed

[2015-07-15 08:53] matthewbrumpton opened #27 "Firefox error"
Protract 0.6
Firefox 39
Selenium grid 2.46.0

When trying to run tests on Firefox the following error occurs:

SetUp : System.InvalidOperationException : angular is not defined

[2015-07-15 19:49] bbaia commented on #24
You did well. I was just thinking about it.

[2015-07-15 19:49] #24 closed

[2015-07-29 15:03] BlueLemming opened #28 "File Reference pointing to incorrect location"
I am getting a few scripts failing since the update, it seems to be pointing to a user directory called Bruno...

at OpenQA.Selenium.Remote.RemoteWebDriver.UnpackAndThrowOnError(Response errorResponse)
at OpenQA.Selenium.Remote.RemoteWebDriver.Execute(String driverCommandToExecute, Dictionary`2 parameters)
at OpenQA.Selenium.Remote.RemoteWebElement.FindElements(String mechanism, String value)
at O

[2015-08-16 20:01] JP-3 opened #29 "Closed Pull Request Question "Added Find By ButtonText, ButtonTextPartial, LabelText""
OK, i'm going to get back into this stuff this week I think so I decided to look back at what I was doing. I can see the Button is angular as it has the ng.click but rather then spying to see what the properties were I found it easier to just look for the text of the button as I can just read it off the page and for the Label you can see both the angular models are identical for both labels, excep

[2015-08-17 05:33] Karthik9836 opened #30 "How do I scroll up to an element?"
I have a scenario in which the page has to be scrolled up for a button click event. I have raised the same question in StackOverflow.com - http://stackoverflow.com/questions/31984385

Thanks in advance

[2015-08-24 11:02] Karthik9836 commented on #30
I had figured a way to do this using WebDriver of Selenium and answered it as well in Stackoverflow.com

[2015-08-24 11:02] #30 closed

[2015-10-25 00:20] gligoran opened #34 "ngDriver.FindElement should return null if nothing is found, not throw error"
At the moment, if ```ngDriver.FindElement``` doesn't find anything, it throws an error. This means that using it in ```Assert``` statements is impossible. It would be really nice if one could do thing like this:

[code]

[2015-10-25 07:01] Meir017 commented on #34
I think it should be like in the RemoteWebDriver and throw a NoSuchElement exception

[2015-11-17 23:55] videege opened #35 "fix: ClientSideScripts.FindBindings needs update"
I found that the `NgBy.Binding` method wasn't finding some of my bound elements.  I inspected further and it looks like the client side script needs an update to be more tolerant.  I noticed the corresponding script in the Protractor project has been updated: https://github.com/angular/protractor/blob/673d416b7ef5abd0953da940cfa8cf2a59650df4/lib/clientsidescripts.js#L81

I can submit a PR for this

[2016-03-09 21:43] DKroot opened #36 "No support for non-Angular pages"
* Some applications might be a mix of Angular and traditional server-generated pages
* Even when your application is 100% Angular, your infrastructure might present a non-Angular page, for example a login page.

Currently,  `Driver.Navigate().GoToUrl(url)` unconditionally throws an exception when presented with non-Angular page. This request is to support this situation somehow.

The only way I co

[2016-03-28 18:07] #5 closed

[2016-03-28 18:13] bbaia commented on #13
You can do that passing the wrapped WebDriver instance :
`WebDriverWait wait = new WebDriverWait(ngWebDriver.WrappedDriver, 10);`

[2016-03-28 18:13] #13 closed

[2016-03-28 21:32] #28 closed

[2016-03-28 21:36] bbaia commented on #34
As @Meir017 said, it should have the same behavior than the Selenium WebDriver Framework

[2016-03-28 21:36] #34 closed

[2016-03-28 21:39] bbaia commented on #23
Thanks @safrrhmn !

[2016-03-28 21:39] #23 closed

[2016-03-28 22:22] bbaia commented on #15
This should be done for Selenium WebDriver, not specific to Protractor for .NET.

You can already take screenshots easily using the `TakeScreenshot` extension from the WebDriver's Support classes :
[code]

Another sample with a screenshot after each test :
[code]

[2016-03-28 22:22] #15 closed

[2016-03-28 22:34] bbaia commented on #27
Could not reproduce the problem.

[2016-03-28 22:34] #27 closed

[2016-03-28 22:44] bbaia commented on #29
#22

[2016-03-28 22:44] #29 closed

[2016-03-28 22:49] bbaia commented on #21
You're right.
Same goes for INavigation.Forward() and INavigation.Back() methods

[2016-03-29 00:18] #21 closed

[2016-03-29 00:18] #36 closed

[2016-03-29 00:27] bbaia commented on #36
Use the new GoToUrl(url, ensureAngularApp) method available in v0.7.0 :
[code]

[2016-03-30 16:42] Meir017 opened #37 "NgNavigation methods don't reload the injected NgModules"
After calling the methods ```Back()````, ````Forward()```` and ````Refresh()```` the injected modules aren't re-injected before resuming angular and therefore they cannot be used again.

[2016-04-18 17:04] yuzman opened #38 "NuGet package dlls aren't signed."
Is there any plans to release signed binaries as well as unsigned with the nuget package?

[2016-04-22 07:36] MedAnd opened #39 "Angular 2 support"
Just wondering what the status or plans are for Angular 2 support?
ngDriver throws Angular could not be found on the page exception

[2016-04-24 10:31] bbaia commented on #39
I'm working on it. Should be available in may.
Stay tuned !

[2016-04-24 14:33] MedAnd commented on #39
Nice :+1: Let me know if you need beta testers...

[2016-05-09 07:50] lexith commented on #39
+1 Any update on this?

[2016-05-09 23:07] bbaia commented on #39
The `$$testability` service is not fully implemented in Angular 2. `NgBy` locators can't be supported for now.
I'll release a version in the next few days to support Angular 2 when waiting for stability or loading a page.

[2016-05-11 21:30] #35 closed

[2016-05-12 08:34] MaximeSangoi opened #40 "NgBy.Bindings() doesn't work with $compileProvider.debugInfoEnabled(false);"
Hi bbaia,

I have few problems with NgBy.Bindings(). Here is the line that cause me headache :
`ngDriver.FindElement(NgBy.Binding("::$ctrl.test"))`.

It seems NgBy.Bindings() needs the debug info that Angular provides by default. If you deactivate the Angular debug with
`$compileProvider.debugInfoEnabled(false);`
NgBy.Bindings() method doesn't work and can't find the element.

Could you please pro

[2016-05-13 17:11] claycephas commented on #39
Will this include support for Angular 2 using [ngUpgrade](https://angular.io/docs/ts/latest/guide/upgrade.html)?

[2016-06-10 00:26] mlegendre commented on #39
Any update on angular 2 support. I am still running into errors. Whenever I call WaitForAngular method I get angular could not be found on the window.

[2016-06-10 06:53] bbaia commented on #39
@mlegendre : Did you tried latest version 0.8 ?

[2016-06-10 16:48] mlegendre commented on #39
Yes I have tried your latest.

[2016-08-17 17:53] rblatz opened #42 "NgWebDriver cannot be cast to IJavaScriptExecutor"
While writing a test case I found out that NgWebDriver does not implement the IJavaScriptExecutor interface.  Instead I have to grab the wrapped driver and cast it to IJavaScriptExecutor.  This isn't ideal.  If you'd like I could create a small pull request that fixes this.

[2016-08-17 20:17] rblatz commented on #42
Ended up just doing the pull request.  You can find it here https://github.com/bbaia/protractor-net/pull/43

Let me know if I need to change anything.

[2016-08-23 22:45] SubjectiveReality opened #44 "WaitForAngular doesn't seem to work"
Anyone else having issues where explicit wait.Until(ExpectedConditions.blah...) are still needed?  I'm using page objects and the PageFactory to initialize elements as in this project's example page object.

I've tried explicitly calling ngDriver.WaitForAngular() before and after element clicks, clears, .Text, .Count, etc.  Following is an example that regularly fails due to not waiting sufficient

[2016-08-25 05:59] iPiyushPatel opened #45 "Do we support Selenium 3.0 beta 2 - Firefox 47+ with Geckodriver ?"
Hi,
I've just updated Selenium version to 3.0 beta 2 , also downloaded required geckodriver (https://github.com/mozilla/geckodriver/releases) , and started testing with Firefox 47.0.1.

I noticed that - driver doesn't wait for angular request to finish & test fails.  Can you please help ?
Let me know if any other additional info required.

[2016-08-30 13:23] yabols commented on #45
I have same problem, I thought that this was problem with our page since we are developing new product   but after debugging source code I find out that this is only problem with firefox(my version is 48.0.2) and geckodriver.

[2016-08-31 16:49] alexkaratzas commented on #39
Any idea when Angular 2 will be fully supported?

[2016-09-01 22:01] rblatz commented on #44
Do you get the same issue when you write a test using the nodejs version of Protractor?

[2016-09-02 23:23] SubjectiveReality commented on #44
Hi- I had the same thought, got caught up by other priorities so haven't gone that far, but have found that a possible suspect is the use of ngplus module, which uses a delay and animation, much like is reported somewhere in [this issue](https://github.com/angular/protractor/issues/2358) for nodejs Protractor.

The waiting works beautifully on a different angular app to which I've now applied Prot

[2016-09-03 00:13] rblatz commented on #44
If it is the ngplus module maybe you could pass in a dummy module that replaces it using a technique like you see in https://github.com/bbaia/protractor-net/blob/master/examples/Protractor.Samples/MockHttpBackend/MockHttpBackendTests.cs

[2016-09-05 12:47] iPiyushPatel commented on #45
Hi there,
Is there any update on this ? This is blocking issue for moving to Selenium 3.0

I've also raised on Geckodriver forum & they say - it is not from there end. It should be from Protractor-net end. SEE: https://github.com/mozilla/geckodriver/issues/208

Please advice.

[2016-09-05 13:03] bbaia commented on #44
Good point @rblatz

See exemple behind to disable the ngAnimate :
[code]

[2016-09-06 18:12] SubjectiveReality commented on #44
Thanks for the ideas guys... I'm giving it a try, but no luck so far (probably due to my lack of understanding of angular itself).  Disabling $animate via @bbaia's suggestion didn't seem to disable enough of ngPlus, unfortunately, as animations still run when executing tests.

Am currently tinkering with that approach but looking at using the instructions to disable ngPlus Overlay at the bottom of

[2016-09-09 00:18] rblatz opened #46 "Safari hangs on page load"
Safari on desktop and iOS both hang when attempting to load the page.  It looks like it is hanging on the line that tests for angular.

[2016-09-13 11:46] iPiyushPatel commented on #45
hey @bbaia - can you please review this problem ?

Thanks,

[2016-09-14 06:37] bbaia commented on #45
I'll take a look this week

[2016-09-14 19:20] #42 closed

[2016-09-14 19:28] #46 closed

[2016-09-18 21:08] bbaia commented on #39
What's not working ?
For Angular 2 apps, the binding and model locators are not supported.

[2016-10-03 16:00] julienmartin commented on #40
:+1:

[2016-10-12 23:11] debasisj opened #48 "find elements by ng-model does not work?"
Hi
I have the ng-model = "userService.account" which is in side ng-app
Now when i give a try find elements like Driver.FindElement(NgBy.Model("userService.account")); the below exceptions throws.
But the code above to find elements by repeater works perfectly!! (the first 5 lines below.)

-------------------------------------------------------------------
Gilgandra 15/16 Chickpeas - CHKP 933.5 mt

[2016-10-13 14:18] SEISENREICH1 opened #49 "I am getting a Not yet implemented error."
I get this error when I am trying to send text to an element on a mobile app built using ionic:

System.NotImplementedException was unhandled by user code
  HResult=-2147467263
  Message=Not yet implemented. Please help us: http://appium.io/get-involved.html
  Source=WebDriver
  StackTrace:
       at OpenQA.Selenium.Remote.RemoteWebDriver.UnpackAndThrowOnError(Response errorResponse)
       at Ope

[2016-10-17 17:02] gantrior opened #50 "IgnoreSynchronization is not reflected for "driver.Url = ...""
When testing page which has its parts in Angular and parts in non-Angular, following code is valid in original protractor:
<pre>
browser.ignoreSynchronization = true;
browser.get("/home");
...
browser.ignoreSynchronization = false;
</pre>

which would be simillar to .NET version:
<pre>
var ngDriver = new NgWebDriver(driver);
ngDriver.IgnoreSynchronization = true;
ngDriver.Url = "/home";
...
ngDriv

[2016-10-17 17:59] bmsoko commented on #45
is there any update with this?

[2016-10-18 10:02] Magadan84 commented on #48
Hi
I get the issue also. Please, fix it asap, because projects are crashed.
I tried to use the previous version 0.8.0 - and I also get the issue.
FindElement gives error as well:
`{"asynchronous script timeout: result was not received in 0 seconds\n  (Session info: chrome=53.0.2785.143)\n  (Driver info: chromedriver=2.24.417431 (9aea000394714d2fbb20850021f6204f2256b9cf),platform=Windows NT 10.0.10

[2016-10-21 09:07] rakslalsangi opened #52 "Not implemented - casting to RemoteWebDriver and RemoteWebElement"
Please implement following items
1) Casting of NgDriver to RemoteWebDriver
2) Casting of NgWebElement to RemoteWebElement

[2016-10-21 19:24] #50 closed

[2016-10-21 19:36] bbaia commented on #52
1) NgWebDriver wraps an RemoteWebDriver, you can get access to it using the `WrappedDriver` property.
2) Same for NgWebElement, it wraps an RemoteWebElement, you can get access to it using the `WrappedElement` property.

[2016-10-21 19:36] #52 closed

[2016-10-21 19:42] bbaia commented on #49
Looks like an NotImplementedException from the Appium Framework (http://appium.io)

[2016-10-21 19:42] #49 closed

[2016-10-21 19:47] bbaia commented on #48
Add a timeout for async scripts :
[code]

[2016-10-24 20:43] bbaia commented on #45
Selenium WebDriver 3.0 have been release, working on it.

[2016-10-26 03:10] debasisj commented on #48
Thanks Bruno, but my original post still unresolved
What i can see, as soon i give By.Model or Binding command, execution immediately goes to exception, doubt it even look at the DOM.
Where as ng-repeat works fine.
Can you please suggest

[2016-10-26 19:35] disophisis commented on #48
@debasisj If you try locating that element by CSS Selector:
`By.CssSelector("[ng-model='userService.Account']")`

Does that work?  That might be a helpful test in this situation.

[2016-10-31 16:18] igarifullin opened #53 "Testing angular app with recaptcha"
I have the angular app with recaptcha in login form. So I switch driver to recaptcha frame and click on checkbox. After this I switch back to the parent frame, find element on main form- and at this moment waitforangular waiting for recaptcha reset script ends. So I need to skip this, it is possible?

[2016-11-04 12:29] rendmath commented on #53
Would it be possible for you to provide more details about what you mean by "waitforangular waiting for recaptcha reset script ends"? Could you provide us with code to reproduce the issue?

Here is some sample code checking a Recaptcha on the Angular Recaptcha demo website. As you might imagine, this version is too simplistic to fool the captcha library.
[code]

[2016-11-04 16:04] igarifullin commented on #53
Oh no, I'm using the test recaptcha key to always pass it.
So this is my code - http://stackoverflow.com/questions/40346134/testing-angular-with-protractor-net-wrapper

After switching to parent frame (or previous window) the WaitForAngular script is waiting for nothing- and timeout fails.
You should try to reduce my case. May be you'll solve this problem

[2016-11-04 21:13] rendmath commented on #53
Does switching IgnoreSynchronization have any effect on your problem?
Unless you provide us with a public facing page to reproduce the issue, it might prove difficult to solve.

[2016-11-09 09:20] xcyroo commented on #39
I encounter many TimeOut Exceptions and InvalidStateExceptions running tests against Angular2 app. It works well against Angular 1 app. Any suggestion what could be an issue?

[2016-11-17 14:58] otto-gebb opened #54 "NgBy locators' ToString() should return a meaningful description"
## Current behavior
[code]

## Expected behavior
[code]

It would be good for diagnostics:
[code]

[2016-11-17 19:49] #54 closed

[2016-11-19 14:34] bbaia commented on #54
Available in version 0.9.0

[2016-11-19 14:36] bbaia commented on #45
Support for Selenium WebDriver 3.0 is available in version 0.9.0
Firefox > v47 still not working

[2016-11-20 03:32] otto-gebb opened #55 "NgBy locators don't throw on non-existing elements"
Consider the following console application. The comments explain the observed and the expected behavior.
[code]

Diagnosing `NullReferenceException`s is not very convenient. Compare it to the exception thrown when searching by an unknown id:
[code]

[2016-11-21 12:56] xcyroo commented on #39
Does latest version work with angular2 app for someone?

[2016-11-21 19:44] otto-gebb commented on #55
A change like this in `JavaScriptBy.cs` could fix the problem.
[code]

[2016-11-22 15:15] #55 closed

[2016-11-22 15:23] bbaia commented on #55
Thanks for the contribution !
Now we have the same behavior than Selenium WebDriver.

As this introduced a breaking change, it will be available in the next major release.

[2016-11-24 10:25] bbaia commented on #48
@disophisis did you resolve your problem ?
What angular version are you using ?

[2016-11-24 10:26] bbaia commented on #39
Except NgBy locators that are not supported, it works fine for me.
Are you mixing both angular 1 and 2 version ?

[2016-11-24 11:53] xcyroo commented on #39
We are purely on latest version 2 release. I am willing to share more detail the way you prefer.

[2016-11-30 09:45] ramyaps94 opened #57 "Protractor-net and angular manual bootstrap"
Does not able to find elements using NgBy.Model("modelname") or NgBy.Binding("") for an application which is using manual bootstrap process. It is not using " ng-app " directive.

[2016-11-30 20:49] disophisis commented on #37
I've started using some modules for disabling animations today and I am seeing the same thing.  Any word on this?

[2016-12-01 20:01] bbaia commented on #57
Did you try creating an `NgDriver` instance using the `rootElement` parameter ?
It allows you to specify the CSS selector for an element on which to find Angular.

[2016-12-01 20:03] bbaia commented on #39
Is your site online ?
If yes, you can send me the url @ brbaia on gmail.

[2016-12-01 20:54] bbaia commented on #37
I could fix NgNavigation.Refresh().
Available in version 0.9.1

[2016-12-01 20:56] disophisis commented on #37
Yeah looking at the js version of protractor this looks like how they handle it.  I didn't actually see if they handled nav like back/forward but I think this fix would probably suffice for me 👍

[2016-12-01 21:37] sergueik commented on #48
@debasisj @bbaia  the ngmodel may require the second argument like.
 NgWebElement ng_element = ng_dropdown.FindElement(NgBy.Model("data.dateDropDownInput", "[data-ng-app]"));
see my fork for  the example:
https://github.com/sergueik/powershell_selenium/blob/master/csharp/protractor-net/Test/DatePickerTests.cs#L49
@bbaia do you mind if i create a PR fom my fork -  i have somewhere between 100 and 2

[2016-12-01 22:58] debasisj commented on #48
@disophisis  thanks for the suggestion but finding element was not my intention instead would like to extract the data from the scope that being attached to the specific ng model
@sergueik how you able to pass two parameters to NgBy.Model - is this part of your version?

[2016-12-02 02:19] sergueik commented on #48
@debasisj - both .net
https://github.com/sergueik/powershell_selenium/blob/master/csharp/protractor-net/Program/ClientSideScripts.cs#L245

and java
https://github.com/sergueik/jProtractor/blob/master/src/main/resources/model.js#L9

ports of Protracor have
[code]

The genuine Protractor
https://github.com/sergueik/jProtractor/blob/master/src/main/resources/model.js#L9
does not have the

[code]
line

[2016-12-08 12:05] iPiyushPatel commented on #45
Thanks @bbaia for update.
I've tested with Selenium 3.0, Protractor V0.9.1 for IE/Chrome browser and it is working. But as you mentioned still facing issue with Firefox > 47. Any reason why it is breaking on Firefox ?  Do you see any problem related to new Geckodriver ?

Please advise.

[2016-12-08 14:37] bbaia commented on #45
The original project needs to support it first :
http://www.protractortest.org/#/browser-support

[2016-12-21 10:59] alexkaratzas commented on #39
I am also encountering asynchronous script timeouts trying to test a hybrid 1/2 app. Is this scenario supported?

I am using Protractor.Net v0.9.1 and when I run any test on my hybrid app I get the error below.

Last value checked was OpenQA.Selenium.WebDriverTimeoutException: asynchronous script timeout: result was not received in 5 seconds
  (Session info: chrome=51.0.2704.0)
  (Driver info: chr

[2016-12-21 15:09] bbaia commented on #39
hybrid 1/2 apps are not supported yet

[2017-01-03 06:54] amitraturi opened #58 "Edge Browser Support"
Hi,

Are we supporting the edge browser. I am using below packages  and getting error on running test with protractor :+1:
  _<package id="Protractor" version="0.9.1" targetFramework="net46" />
  <package id="Selenium.Support" version="2.53.1" targetFramework="net46" />
  <package id="Selenium.WebDriver" version="3.0.0" targetFramework="net46" />
  <package id="Selenium.WebDriver.ChromeDriver" ver

[2017-01-04 09:43] bbaia commented on #58
Microsoft Edge is supported since v0.8.1

You need to keep drivers up to date because your browser is automatically updated.
Plz update the "Selenium.WebDriver.MicrosoftWebDriver" package and try again.

[2017-01-05 09:45] amitraturi commented on #58
Hi,

Thanks for the suggestion. Actually I used the old version because with that at least selenium test were working. When i used the latest version i am getting issue with driver. Pop up error  “The ordinal 870 could not be located in the dynamic link library C:\Users\raturia\Automation\WebUI.Test\bin\Debug\MicrosoftWebDriver.exe.” with below stack trace. The earlier version 10.0.10240.0 was wor

[2017-01-09 20:02] markoueis opened #59 "If part of the application doesn't have angular, exception is thrown"
This might be expected design. However, could there be a way to just ignore all the angular stuff and default to regular webdriver if angular is not found on page as opposed to forcing tester to figure it out per page.

Maybe there already is a way but i don't know how to turn it on.

Thanks

[code]

[2017-01-10 20:44] manchurocas opened #60 "Switching to Development mode"
I am trying to use protractor-net on an Angular 2 site which is also in Production mode, and protractor-net says that "angular is not defined".

Is there a way to switch an app from production mode to development mode when using protractor-net with an Angular 2 app?

I had a similar problem in Angular 1 and ran this command to switch from prod to debug mode:
((OpenQA.Selenium.IJavaScriptExecutor)(

[2017-01-13 07:13] bbaia commented on #40
Related to #60

[2017-01-13 08:05] MaximeSangoi commented on #40
Alright, thanks for your time !

[2017-01-13 08:20] bbaia commented on #59
Yes, see issues #36 and #50

[2017-01-13 08:20] #59 closed

[2017-01-14 07:29] bbaia commented on #60
So it works in debug mode and fails when using `enableProdMode` ?

[2017-01-17 16:04] RamamurthyB commented on #39
NGWebDriver for Angular 2 is displaying "Driver.url displayed exception of type System.Invalid OperationException
IWebDriver is working fine for Angular 2
NGWebDriver for AngularJS is working fine

            IWebDriver _webDriver = new ChromeDriver(@"C:\Automation\Installs");
           _webDriver.Navigate().GoToUrl("xxxxxxxxx");
            ngDriver = new NgWebDriver(_webDriver);
            Ng

[2017-01-17 19:39] #40 closed

[2017-01-17 19:53] bbaia commented on #40
Available in v0.9.2

[2017-01-17 20:00] bbaia commented on #60
((OpenQA.Selenium.IJavaScriptExecutor)((IWrapsDriver)instance).WrappedDriver).ExecuteScript("angular.reloadWithDebugInfo();");

With version 0.9.2, you'll not need to do this

[2017-01-18 02:07] manchurocas commented on #60
@bbaia : I thought that was the case, but after some further investigation, that was not the issue.  I was certain it was based on the failures I was seeing, and based on this post in the Protractor GitHub: https://github.com/angular/protractor/issues/3174.  However, it appears I was mistaken.  I apologize for the false alarm.

[2017-01-18 02:07] #60 closed

[2017-01-20 10:10] RamamurthyB commented on #39
Is there any settings/config for making Protractor to work for Angular 2 ?

[2017-01-22 15:03] bbaia commented on #39
@RamamurthyB you should switch line 2 & 3 :

[code]

[2017-01-23 12:39] RamamurthyB commented on #39
Thank you so much Sir! This works!!!!

[2017-01-26 21:10] disophisis opened #62 "Custom bootstrapping"
We're working with an app that has been updated to make a call to retrieve some data and then continue bootstrapping, so there is a small amount of time where the application may not be bootstrapped.  This is causing issues when waitforangular() is called:

javascript error: [ng:test] http://errors.angularjs.org/1.5.11/ng/test

I'm wondering if there's a way built in to Protractor that would allow

[2017-01-29 19:13] bbaia commented on #62
Dis you tried using WebDriverWait from Selenium.wEbDriver.Support package ?
[code]

[2017-01-30 14:41] #45 closed

[2017-01-30 14:43] #39 closed

[2017-01-30 14:48] bbaia commented on #55
Available with v0.10

[2017-01-30 14:49] bbaia commented on #39
Just released v0.10 with better Angular 2 support (hybrid apps too)

[2017-01-30 14:50] bbaia commented on #45
Just released v.10 with Firefox support (>v51) !

[2017-01-30 14:59] iPiyushPatel commented on #45
Thanks much for update @bbaia .

[2017-01-30 15:51] disophisis commented on #62
That is an option for sure.  What's happening here is that there's a race condition, it appears.  WaitForAngular() executes a script against the page which calls getTestability(element).  getTestability() throws an error if the app hasn't been bootstrapped.

The best way to attack this would seem to be either at the WaitForAngular() method or lower.  I ended up pulling the code and adding a custom

[2017-01-30 19:48] bbaia commented on #62
Can you try using the latest version (0.10) ?

[2017-01-30 20:40] SubjectiveReality opened #63 "find by binding returns matches where binding name is substring of another"
Ran into this today.  I have two bindings on a page I am testing:

* `{{p[0].Blah}}`
* `{{p[0].BlahDescription}}`

When I do the following, both of the above elements are found instead of the expected one:

`var Blahs = row.FindElements(NgBy.Binding("p[0].Blah"));`

[2017-02-01 15:41] csharsha opened #64 "ngDriver.waitforangular is not working all the time"
Hi,

I am using ngDriver.waitforangular for waiting the page to load after certain operation like user click. But it is  not working all the time consistently. I have setscripttimeout to 100 seconds, but still after user click it throws sync error. The application is made out of angular 2. I want to know whether I am doing it in correct way or is there any other way to use it or to wait till page

[2017-02-01 15:57] disophisis commented on #62
I have updated and tried it; there are quite a few more errors, this one specifically:

javascript error: angular never provided resumeBootstrap

This is application is using angular 1.5.11.

[2017-02-01 16:32] bbaia commented on #63
Added an 'exactMatch' option to NgByBinding & NgByRepeater locators :
`var Blahs = row.FindElements(NgBy.Binding("p[0].Blah", true));`

Try new v0.10.1 and let me know

[2017-02-01 16:34] bbaia commented on #64
Which Protractor version are you using ? (if you are not using the latest v.10.x, try it)
Are you using $timeout for continuous polling ?

[2017-02-01 17:00] bbaia commented on #62
OK, it detects the application is not bootstrapped.
Protractor does not support manual bootstrap [yet](https://github.com/angular/protractor/issues/3857).

Use WebDriverWait for now

[2017-02-01 17:05] disophisis commented on #62
Sweet I will keep an eye on this issue you linked.  I think I will also close this for now.

Thanks a lot!

[2017-02-01 17:05] #62 closed

[2017-02-02 05:52] csharsha commented on #64
I am using the latest version of Protractor(0.10.0.0). We are not using $timeout for continuous polling in our application.

[2017-02-07 22:45] SubjectiveReality commented on #63
Unfortunately, it appears to have a conflict with the PageFactory...

[code]
^ in conjunction with something like

[code]

[2017-02-08 09:03] bbaia commented on #63
Looks like I've introduced a regression.
I'll fix or this week-end.

[2017-02-12 10:54] #63 closed

[2017-02-12 11:03] bbaia commented on #63
Added an 'NgByExactBinding' & 'NgByExactRepeater' to support Page Objects pattern :
`var Blahs = row.FindElements(NgBy.ExactBinding("p[0].Blah"));`

`[FindsBy(How = How.Custom, CustomFinderType = typeof(NgByExactBinding), Using = "p[0].BlahDescription")]`

Try new v0.10.2 and let me know

[2017-02-14 20:56] SubjectiveReality commented on #63
Working great!  Thank you!

[2017-04-27 08:56] sisillV opened #65 "Question: Can I use this library to test Angular2?"
Hi Protractor-net Team,
I try to use your library to test Angular2 cli application but I have error every time.
Can I use this library to test Angular2?

Best Regards,
Stanislava

[2017-10-24 04:25] csharsha commented on #64
can we use this assembly to automate angular js applications which are developed in version 4+?

[2017-12-12 20:07] jjldickinson commented on #65
See issue 39 (closed; [https://github.com/bbaia/protractor-net/issues/39](url)), which suggests that you can.
Duplicate of #39 .

[2017-12-14 15:46] SamJost opened #68 "internal server error after updating to ASP.NET Core 2"
I'm using protractor.net in a combined ASP.NET Core 1.x / Angular 5 Project, where it is working nicely.

After updating my Project to ASP.NET Core 2.0 I can't use protractor anymore. Protractor itself seems to be working, but I always get the following error in my Server:
[code]

Has anyone successfully used protractor with ASP.NET Core 2 (and I'm just making some dumb mistake)? Or is this a gene

[2018-01-14 10:56] bbaia commented on #65
Thanks @jjldickinson

[2018-01-14 10:56] #65 closed

[2018-02-09 14:46] fawei opened #71 "Asynchronous script timeout with Highcharts"
We use Angular 5.1 with the [angular2-highcharts](https://www.npmjs.com/package/angular2-highcharts) package. We do our tests with Selenium v3.9.0 and Protractor.net v0.11.0.

As soon as the tests navigate to a page which contains a highchart, I get the WebDriverTimeoutException.
So we
So we perform:
_element.MoveAndClick();_
to click a button and navigate to the next page (with the chart). Then w

[2018-04-25 08:26] kedziorm opened #73 "Support for .NET Core"
In the readme file following information is included:

However, I wonder whether `protractor-net` will be supported in .NET Core or are there any plans for that.

[2018-04-28 08:26] bbaia commented on #73
There's a PR on this #72

[2018-04-28 20:27] kedziorm commented on #73
Looks great, but will the usage be exactly the same in .NET Core / Visual Studio Code as in old .NET Framework? If I properly checked the PR, the only change in the Readme is added information about support for .NET Core.

[2018-05-29 01:25] YugandharBandari opened #74 "steps"
Hi team - Can you please share step by step process to use protector with visual studio enterprise 2017.

and also please give the detailed steps to use this library as well in visual studio enterprise 2017.

[2018-06-05 14:56] ArunSrid opened #75 "Regarding Angular 5 Automation using Protractor with C#"
This is with regards to Angular 5 Automation with Protractor using c#

My application is developed based on Angular5 with Primeng UI components and kendo grid. In order to Automate have few queries as mentioned below:

a) Can protractor be used to Automate angular 5 application ? b) When I try to inspect, there are no ng-model, ng-reflect, ng-binding, ng-repeat etc.. available ? Should I discuss w

[2018-07-05 09:38] pp1609 opened #76 "Protractor is unable to identify some of the objects in web page."
Hi,

We are using Protractor to automate our angular js based application.
We are facing the issue that some of the objects in application are unable to identified by protractor driver.
The same can be identified by selenium webdriver in chrome but not in IE.

Can you please help.

Thanks

[2018-07-13 10:22] JacobMillward commented on #75
From my experience, it can be used for angular2+ apps, with caveats:

- I've not managed to get any of the angular locators to work, I've fallen back on id's and classnames
- The synchronization doesn't always seem to work, and I have a few pages where it just timesout and I can't figure out the underlying cause. Setting `ngDriver.IgnoreSynchronization = true;` and doing my own waiting works.

[2018-07-13 18:56] disophisis commented on #75
To add to @JacobMillward , we recently switched back to typescript and the protractor library available on NPM.  That library seems to have its own problems with synchronization as well.  Lots of timing out, lots of failing to wait for routing even where HTTP requests are being made.  I'm not sure if even the 1st party protractor library is that well supported anymore, based on those experiences.

[2018-09-03 13:53] asartem opened #78 "Because of Selenium update Navigate works no more."
Looks like its because of the update of Selenium.
Function Navigate works no more.
Versions:
protractor: latest
Selenium 3.14.0 (web driver, support and chromedriver)
Chrome browser latest.

Error details:
Method not found: 'System.String OpenQA.Selenium.ICapabilities.get_BrowserName()'.

Stacktrace:

 at Protractor.NgWebDriver.set_Url(String value)
   at Protractor.NgNavigation.GoToUrl(String url

[2018-09-17 12:11] sgadoury commented on #78
I have the same problem.

The driver creation code looks like this:
[code]

When I do `Driver.Url = "http://url..."`, it works.  However, when I enter `NgDriver.Url = "http://url..."`, I got the Method not found for browsername.

@bbaia : Do you have any workaround for us?  When do you think a fix will be available?

Thank you

[2018-09-27 02:10] SubjectiveReality commented on #78
Is @bbaia or anybody actively looking at issues, or anybody else working on a fork if not?

[2018-10-01 21:36] bbaia commented on #78
Available with v0.12

[2018-10-08 16:58] B-Raya opened #79 "WaitForAngular"
I am new to AngularJS/ Protractor. I am using the .Net wrapper over protractor to test our Angular2 application. But I have observed that the WaitForAngular call timeouts.  The application under test continuously polls data every 5 seconds. I believe this is the reason for WaitForAngular call time out. If anybody has any solution for this please share your ideas/thoughts. Thanks in advance.

[2018-12-05 21:35] gilsdav commented on #53
This fixed my issue on my project

`clickFormCitizens()` navigate to another page that contains Recaptcha.

Solution:

[code]

[2019-02-06 17:27] nikolay-advolodkin opened #80 "Support for TestObject Real Devices"
Hello,
Does this version of protractor support a connection to TestObject so that users can test on real devices? Similar to how the protractor in JS does this.

[2019-02-08 03:30] manavghaigithub opened #81 "Protractor timeouts"
@bbaia - How do i handle below situations when working with protractor-net binding.
http://www.protractortest.org/#/timeouts

1. Waiting for Page to Load - getPageTimeout:
2. Waiting for Angular - allScriptsTimeout
3. Waiting for Angular on Page Load - getPageTimeout

[2019-02-14 02:33] manavghaigithub commented on #81
@bbaia Hey - Just wanted to check with you whether you got a chance to look at my question?
Please advise.

[2019-05-02 13:28] zeeshankhan0330 commented on #73
When can we expect .Net Core supported Library for Protractor?

[2019-05-23 15:28] malpearson opened #82 "IWrapsElement Error on Protractor 0.12.0 and Selenium.WebDriver 4.0.0-alpha01"
When installing Selenium.WebDriver 4.0.0-alpha01 along with Protractor 0.12.0 I'm getting the following error at compile time:
Error CS7069 Reference to type 'IWrapsElement' claims it is defined in 'WebDriver', but it could not be found.

This error occurs when trying to perform the following commands:
IWebElement webElement = ngWebDriver.FindElement(by);
IWebElement webElement = ngWebElement.Find

[2019-06-07 22:02] malpearson commented on #82
@bbaia could you please remove "using OpenQA.Selenium.Internal;" from Protractor/NgWebElement.cs and Protractor/NgWebDriver.cs and tag a new release for Selenium.WebDriver 4.0.0-alpha01?

Per ﻿v4.0.0a1 in https://github.com/SeleniumHQ/selenium/blob/master/dotnet/CHANGELOG
"Moved IWrapsDriver and IWrapsElement from the OpenQA.Selenium.Internal namespace to the OpenQA.Selenium namespace. This should

[2019-06-26 16:32] alisterernest commented on #73
Looks like this PR has been in review for quite a while now. When can we expect this to be completed and available?

[2019-07-25 18:04] sdjnaik commented on #73
Hi, When can we expect support for .Net Core?

[2019-07-25 18:59] bbaia commented on #73
I'll take a look asap!

[2019-10-02 08:49] fjody opened #84 "GoTo() method should avoid asynchronous call"
Hi,

I use Protractor v0.12.0, with Selenium for E2E testing.
Presently we are integrating a 3rd party cloud real device testing solution.

We faced with an issue.
If we open a page, it always fails at the opening, because it uses asyncCallback.

Is it possible to solve it without async?

We tried with .Url and .Navigate().GoToUrl() and always came the same error.

_The error is at this JS script:

[2019-10-02 13:11] fjody commented on #50
Hi,
I see this ticket is closed, but is this problem solved?
I hope I didn't create a duplicated bug ticket:
https://github.com/bbaia/protractor-net/issues/84

[2019-10-02 13:17] gantrior commented on #50
Yes this bug was fixed already, #84 does not seems to be related.

[2019-10-02 15:04] flensrocker commented on #73
Since .Net Core 3 is out and Full .Net Framework is on it's way down to something like EOL, a protractor targeting `netstandard2.0` or similar would be great.

ASP.Net Core 3 will be .Net Core only...

[2019-11-04 12:08] Wowo10 commented on #82
Got the same issue with Selenium.WebDriver 4.0.0-alpha03 and protractor 0.12.0 will it be released?

[2019-11-13 15:21] dessap commented on #78
I'm still having this issue on Protractor.Net.Standard version 0.12. This version is pointing to Selenium.Webdriver v 3.141.0 rather than 3.14.0. Could you please let me know if you can replicate it?
Code
var driver = new FirefoxDriver((FirefoxOptions)options);
var ngdriver = new NgWebDriver(driver);
ngdriver.IgnoreSynchronization = true;
TryMaximize(ngdriver);
ngdriver.Visit(BaseUrl);

Output
Set

[2019-11-13 15:22] dessap opened #86 "Protractor.Net.Standard version 0.12 - Because of Selenium update Navigate works no more"
Related to https://github.com/bbaia/protractor-net/issues/78

I'm still having this issue on Protractor.Net.Standard version 0.12. This version is pointing to Selenium.Webdriver v 3.141.0 rather than 3.14.0. Could you please let me know if you can replicate it?
Code
var driver = new FirefoxDriver((FirefoxOptions)options);
var ngdriver = new NgWebDriver(driver);
ngdriver.IgnoreSynchronization = tru

[2019-11-15 10:53] dessap commented on #86
not related to this project

[2019-11-15 10:53] #86 closed

[2019-11-20 01:28] bbaia commented on #73
.NET Standard 2.0 is now supported with v0.13

[2019-11-20 01:28] #73 closed

[2019-11-20 01:28] bbaia commented on #68
.NET Standard 2.0 is now supported with v0.13

[2019-11-20 01:28] #68 closed

[2020-02-11 22:28] santhosh-James opened #87 "NgBy missing ButtonText, Input etc"
Why these selectors which are available in original Protractor is missing? What is the work around if i want to use ButtonText?

[2020-02-27 10:28] isingh78 opened #88 "root element not working other than [ng-app]"
In our angular application, we are having app-root instead of ng-app. We are getting timeout error when we give app-root.

**Code:**
 NgWebDriver ng = new NgWebDriver(_iwebdriver, "app-root");
           // ng.IgnoreSynchronization = true;

            ng.Manage().Timeouts().AsynchronousJavaScript = TimeSpan.FromSeconds(20);
            try { ng.WaitForAngular(); }
            catch (Exception) {

[2020-06-15 11:23] sdjnaik commented on #82
Facing same issue with Protractor 0.13.0. When can we except fix for this issue?

[2020-11-18 13:49] bbaia commented on #82
Prerelease 1.0.0-alpha1 is available on NuGet & GitHub packages.

[2020-11-18 13:49] #82 closed

[2021-04-27 06:59] rohanade opened #91 "Future plans for protractor-net considering protractor is getting deprecated next year"
We have just started using protractor-net in our project and we have another one coming up where we planned to use it.
However, protractor seems to be getting deprecated by 2022 year end (https://github.com/angular/protractor/issues/5502) with Selenum 4 deprecating control flow.

How does this affect the future of protractor-net ?

[2021-04-27 10:18] bbaia commented on #91
I already ended development of Protractor for .NET a few years ago but I'm still monitoring this repository to review PRs.
I'm also keeping it up to date by updating dependencies and supporting latest .NET versions.

[2021-04-27 11:04] rohanade commented on #91
So there will not be any feature enhancements or bug fixes but the repository will be available for use and maintained to be compatible with newer .NET and selenium versions. Am I correct ?

[2021-04-27 11:23] bbaia commented on #91
Yes!

[2021-04-27 13:31] rohanade commented on #91
Thanks a lot @bbaia

[2021-04-27 13:31] #91 closed

[2021-06-11 11:30] vishnubbalan opened #92 "Timeout"
@bbaia I am getting the below exception while executing the test on selenium Grid. If the test suit contains 2 test cases; 1st one will execute properly., for the second TC in the suit i am getting the timeout issue. This is happening for the test case where i am using protractor-net

OpenQA.Selenium.WebDriverException: OpenQA.Selenium.WebDriverException: Session [(null externalkey)] not available

[2021-06-16 10:28] OrestKavnyi opened #93 "Can't interact with iframe elements inside shadow DOM"
We have an angular app. One of the pages has shadowRoot(open) containing an iframe. When I'm trying to write protractor test(C#) for elements inside that iframe I'm getting an error:
**Failed: unknown error: no element reference returned by script**

But I am not sure Angular is used on that particular iframe, - when trying to locate any element, I receive an exception saying "...Angular is not de

[2021-06-17 08:45] bbaia commented on #93
Instead of calling `Click()` on the `NgWebElement`, use the `WrappedElement` property to get access of the wrapped element instance and call `Click()`.

Note that you can also use the GoToUrl(url, ensureAngularApp) method instead of IgnoreSyncronization :
[code]

[2021-06-17 11:35] OrestKavnyi commented on #93
@bbaia
Thanks a lot for your response!
Here is another thing. The moment I switch to iframe I cannot use NgWebDriver to interact with iframe elements anymore. Otherwise, I receive an exception saying "_**WebDriverException: javascript error: window.angular is undefined. This could be either because this is a non-Angular page or...**_ ". Therefore, before locating any element inside that iframe, I

[2021-06-17 12:13] bbaia commented on #93
It think the issue is not related to Protractor, you'll have the same error using basic WebDriver. To be confirmed!

[2021-06-17 13:38] OrestKavnyi commented on #93
Yeah, it is likely to be not specific to Protractor. I was just able to reproduce the issue with a pure Selenium WebDriver and Support packages only.

[2021-06-17 13:38] #93 closed

[2021-12-10 04:04] rherlin commented on #82
Can someone help on this issue?

Protractor 1.0.0-beta2
Selenium.WebDriver 4.1.0

Calling **new NgWebDriver((IWebDriver) driver)**; throws

'ExecuteScript' in type 'Protractor.NgWebDriver' from assembly 'Protractor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' does not have an implementation.

[2021-12-12 18:44] bbaia commented on #82
Protractor 1.0.0 with Selenium.WebDriver 4.1.0 have been released!

[2022-08-10 14:29] arnonax-tr opened #94 "Protractor.Net doesn't work with Angular 14?"
I took a very simple [demo Angular 14 app](https://github.com/AssafFink/Angular) (from a short course I took), and tried to see if I can use Protractor.Net with it. However, the following simple code fails with the below exception. There's so little going on here that I **can't see how this library can work for anyone using Angular 14**. Am I missing something?

This is code:
[code]

And this is t